<style>
  #footer {
    bottom: 0;
    position: fixed;
    width: 100dvw;
    height: 2.25rem;
    background-color: #192025;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6bd425;
    font-size: 1.25rem;
    gap: 1rem;
  }

  #footer > * {
    color: #6bd425;
  }
</style>

<div id="footer">
  <a href="/">users</a>
  <a href="/random">random post</a>
  <a href="/about">about</a>
</div>
