<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blogs">
  <title>Blogs</title>

  <style>
    @font-face {
      font-family: "font";
      font-display: swap;
      src: url("/font.ttf");
    }

    * {
      font-family: "font";
    }

    body {
      background-color: #171c20;
      background-image: url("/bg.png");
      display: flex;
      justify-content: center;
      margin: 0;
    }

    #title {
      color: #6BD425;
      font-size: 2rem;
      margin: 0.5rem 0 0.5rem 0;
    }

    #content {
      background-color: #2C363F;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0 3rem 0;
      outline: #495969 3px solid;
    }

    #users {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background-color: #192025;
      box-sizing: border-box;
      gap: 1rem;
    }

    .user {
      font-size: 1.25rem;
      border-radius: 5px;
      padding: 0.5rem;
      box-sizing: border-box;
      outline: 3px solid #006372;
      color: #E75A7C;
      text-decoration: none;
      transition: 0.2s;
    }

    .user:hover {
      outline: 3px solid #009FB7;
    }

    @media (max-width: 768px) {
      #content {
        width: 90%;
      }

      #title {
        font-size: 1.5rem;
      }
    }
  </style>
</head>

<body>
  <div id="content">
    <span id="title">users</span>
    <div id="users">
      <% users.forEach(user=> { %>
        <a href="/<%= user %>" class="user">
          <%= user %>
        </a>
        <% }) %>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>

</html>